<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Blog Content</title>
</head>
<body>
    <div class="buttons">
        <ul>
            <li><a href="../index.html" class="a1">Back to Home&nbsp;</a><a href="#" class="a2">Contact</a></li>
        </ul>
    </div>
    <!-- Journal Posts -->
    <section class="post container">
        <!-- Post 1 -->
        <div class="post-box">
            <img src="../images/img-1.jpg" alt="" class="post-img">
            <p class="post-title">
                The beginning of my internship journey.
            </p>
            <span class="post-date">01 Feb 2023</span>
            <p class="post-description">
                On February 1, 2023, we students and Professor Marie Joy Sanchez. We were given a tour of the 
                offices and received instruction regarding the rules and perks of the company. The organization 
                is welcoming and treats its staff well, especially because they typically work at night because 
                its clients are Americans. Even though my employer is  still teaching me everything, 
                I still want to express how excited I am for this new chapter in my life.
            </p>
        </div>
        <!-- Post 2 -->
        <div class="post-box">
            <img src="../images/img-2.jpg"" alt="" class="post-img">
            <p class="post-title">
                Graveyard shift! Laban para sa kinabukasan.
            </p>
            <span class="post-date">10 Feb 2023</span>
            <p class="post-description">
                Graveyard shift is nevery easy! To be honest I'm personally still adjusting to the working schedule,
                I always feel sleepy during my shift, even a cup of coffee can't subside it, i shold probably take a 
                cup of coffee every hour to avoid getting sleepy, but i think i can adjust to this working schedule 
                environment through time. But forda future I would gladly take on this journey and do my very best. 
            </p>
        </div>
        <!-- Post 3 -->
        <div class="post-box">
            <img src="../images/img-3.jpeg" alt="" class="post-img">
            <p class="post-title">
                Road to glory is never easy, Beginners Journey!
            </p>
            <span class="post-date">20 Feb 2023</span>
            <p class="post-description">
                The work is challenging, being in a new environment is difficult and the duty of a 
                data analyst is never easy. I've been struggling because my job involves a lot of calculations in Excel, 
                and the last time I used it was probably in my first few years of college at STI before I transferred to 
                UPSF. Although I am just starting out, I constantly tell myself that this is my trip and not other's,
                and that it is a marathon, not a sprint.
            </p>
        </div>
    </section>    
</body>
</html>